{% extends 'base.html'%}

{% block content %}

<div class="container-fluid pt-3">
<!-- {% if messages %} -->
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
<!-- {% endif %} -->
  <div class="row">
    {% if student %} 
    {% for stud in student %}
    
       <div class="col-sm-3" style="width:20rem">
        <div class="card mb-3">
            {% if stud.acadamicYear == 'Alumni' %}
            <p class="card-header"><strong>{{stud.Name}}</strong><span class="badge bg-warning mx-1">{{stud.acadamicYear}}</span></p>
            {% endif %}
            {% if stud.acadamicYear == 'FirstYear' %}
            <p class="card-header"><strong>{{stud.Name}}</strong><span class="badge bg-primary mx-1">{{stud.acadamicYear}}</span></p>
            {% endif %}
            {% if stud.acadamicYear == 'SecondYear' %}
            <p class="card-header"><strong>{{stud.Name}}</strong><span class="badge bg-success mx-1">{{stud.acadamicYear}}</span></p>
            {% endif %}
            <div class="card-body">
              <h6 class="card-subtitle text-muted">{{stud.specalization}}</h6>
            </div>
            <img src="{{stud.Image.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text card-bio">{{stud.bio}}</p>
              <a href="{% url 'student' stud.id %}" class="btn btn-secondary btn-sm">More</a>
            </div>
            <div class="card-footer text-muted text-muted-footer">

              <p style="font-size:13px; padding:0; margin:0;">
              <strong>{{stud.Email}} </strong> 
              
            </p>  
              
            </div>
          </div>
       </div> 
       {% endfor %}
       {% else %}
       <div class="row">
         <div class="col-sm-3">
           <h1>No records in the database</h1>
         </div> 
       </div>
       {% endif %}      
             
            
    </div>
     
</div>
{% if messages %}
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
{% endif %}
{% endblock %}