{% extends 'base.html' %}


{% block content %}

<div class="card-wrapper">
    <div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div><div class="card">
        <h1>Hello</h1>
    </div>
</div>
{% endblock %}