{% extends 'base.html' %}

{% block content %}

{% if dataSet %}

<div class="container">
    <a class="btn btn-secondary m-3" href="{% url 'index' %}">Back</a>
    <div class="row p-2 gap-5">
        {% for data in dataSet %}

        <div class="col-sm-12 col-md-6 col-lg-4">
        {% if data.Grades == 'completed' %}
            <div class="card p-4" style=" border-left:8px solid green; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; width:400px"> 
        {% endif %}

        {% if data.Grades == 'Incomplete' %}
            <div class="card p-4" style=" border-left:8px solid black; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; width:400px"> 
        {% endif %}

        {% if data.Grades == 'Doubt' %}
            <div class="card p-4" style=" border-left:8px solid orange; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; width:400px"> 
        {% endif %}
                <h3>{{data}}</h3>
               
                <form  action="{% url 'update_status' %}">
                    {% csrf_token %}
                    <select name="status"  class="form-control" onchange="this.form.submit()">
                        <option>Update your Status</option>
                        <option value="completed,{{data.id}}">Completed</option>
                        <option value="Incomplete,{{data.id}}">Incomplete</option>
                        <option value="Doubt,{{data.id}}">Doubt</option>
                    </select>
                    
                </form>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% else %}
<h2>No data Found</h2>
{% endif %}

{% endblock %}